<!-- FOOTER COMPONENT
     Replace this file with your site footer markup.
     Available data:
       {{ client.name }}             — business name
       {{ client.address.street }}   — street address
       {{ client.address.city }}     — city
       {{ client.address.state }}    — state
       {{ client.address.zip }}      — zip code
       {{ client.phone }}            — formatted phone number
       {{ client.phoneTel }}         — phone digits only, for tel: href
       {{ client.email }}            — contact email
       {{ client.social.instagram }} — Instagram URL (empty string if not set)
       {{ client.social.facebook }}  — Facebook URL
       {{ client.social.tiktok }}    — TikTok URL
       {{ client.social.pinterest }} — Pinterest URL
       {{ client.social.youtube }}   — YouTube URL
       {{ client.social.linkedin }}  — LinkedIn URL
       {{ currentYear }}             — current year (for copyright)
     Example:
  <footer>
    <p>
      {{ client.address.street }}, {{ client.address.city }},
      {{ client.address.state }} {{ client.address.zip }}
    </p>
    <p>
      <a href="tel:{{ client.phoneTel }}">{{ client.phone }}</a> &bull;
      <a href="mailto:{{ client.email }}">{{ client.email }}</a>
    </p>
    <p>&copy; {{ currentYear }} {{ client.name }}</p>
  </footer>
-->
