<header class="site-header">
  <div class="container">
    <div class="site-header__inner">
      <a class="site-header__logo" href="/">
        Thunder
        <span>Kitty</span>
      </a>
      <nav class="site-header__nav">
        <a href="/#how-it-works" class="site-header__nav-link">How it works</a>
        <a href="/#pricing" class="site-header__nav-link">Pricing</a>
        <a href="/manifesto" class="site-header__nav-link">Manifesto</a>
        <a href="/#download" class="site-header__cta">Download</a>
      </nav>
    </div>
  </div>
</header>
